/* Map API key: AIzaSyBF8HdAt5r-5FT9rUsttVvcjU39lmaRyrs */

/**===================================================================================================
HomePage 
=====================================================================================================*/
/** Home slider show black screen before video start to play --tengfei*/
@media (min-width: 1000px){
    #ajax-content-wrap .nectar-slider-loading{display:none !important;}
    #ajax-content-wrap .swiper-slide{background-color: #000 !important;}
    #ajax-content-wrap  .container-wrap{background: #000 !important;}
    #ajax-content-wrap #nectar-slider + .container-wrap{background: #f6f6f6 !important;}
    .home_slider .container .content > * { opacity:1 !important;padding-top: 0 !important; }
    .nectar-slider-wrap{display:block;}
    .main-content .row #nectar-slider{ visibility: visible; }
}

/*hide slider content on mobile*/
@media (max-width: 1000px){
    .home_slider .content{display:none !important;}
}
.wpb_text_column a{color: #fff !important;}

#myVideo .wpb_raw_html, 
#myVideo .wpb_raw_html .iframe-embed{ margin-bottom: 0 !important; }
#firstRow{z-index:11;}


/**===================================================================================================
Experience Page
.wpb_gallery.remove-popup .portfolio-items .col.span_3 .work-item a[rel^='prettyPhoto']{display:none !important;}
=====================================================================================================*/

/*remove zoom */
.wpb_gallery .portfolio-items .work-item > img{ transform:none !important; }
.wpb_gallery .portfolio-items .work-item .work-info-bg{display:none !important;}




/**===================================================================================================
COMMUNITY
=====================================================================================================*/
.wpb_gallery .portfolio-items{margin:0 !important;background-color:#000;}
.portfolio-items .col .work-item.style-3 .work-info-bg{display:none !important;}
@media (min-width: 1001px) {
    .portfolio-items .col.span_3{
        width: 24.9% !important;margin: 0!important;
    }
}
@media (max-width: 1000px) and (min-width: 690px){
	.portfolio-items:not(.carousel) .col.span_4, 
	.portfolio-items:not(.carousel) .col.span_3 {
	    width: 49.9%!important;margin: 0!important;
	}
}
@media (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
    .wpb_gallery .work-item .work-info{display:none;}
    .wpb_gallery .portfolio-items .work-item > img{ width:100% !important; }
    .wpb_gallery .portfolio-items .col.span_3{margin:0 !important;}
}
@media (max-width: 690px){
    #our-headliners .col h2{font-size: 20px;line-height: 20px;}
}

/**===================================================================================================
Info Page
=====================================================================================================*/
.contact-us-form form{ margin-bottom:50px;margin-top:0 !important; }
.contact-us-form .button-group button.addattach { margin-right: 60px;width:auto;padding:0 10px; }
.contact-us-form div.wpcf7{margin-top:0 !important; }
@media (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
    .wpb_row{margin-bottom:0;}
    .text-center > .wpb_wrapper > h4{ margin-top:0 !important;}
}



/**===================================================================================================
Salient
=====================================================================================================*/

/* common */
@media(max-width:1000px){
    .disable-link-mobile a{pointer-events:none;cursor:default;}
}
.wpb_raw_html.insomniac-socail-bar a.btn-newsletter-signup:hover{
    background-color: #9639ff !important;border-color: #9639ff !important;
}

/* popup style */
.pp_details .pp_nav a > i:after{ display:none !important; }
@media(max-width:1000px){
    .pp_details .pp_nav a.pp_arrow_previous, 
    .pp_details .pp_nav a.pp_arrow_next{ border:none;margin-top: -10px !important; }
    .pp_details .pp_nav a > i:before{ font-size: 50px !important; }
    .pp_details .pp_nav a > i:after{ display:none !important; }
    
    /*post detail page*/
    body.single .heading-title{padding-bottom: 25px;margin-bottom: 25px;}
    body.single #single-meta{margin-top: 10px !important; }
    body.single #single-meta ul > li{display:none !important;}
}

/*section header*/
.xui_header_section h2 > strong, .parallax_header_section h2 > strong{ text-transform: uppercase; }
.full-width-section.parallax_section .row-bg-wrap,
.full-width-content.parallax_section .row-bg-wrap{filter:brightness(80%);-webkit-filter:brightness(80%);}
@media(min-width: 1001px){
    .xui_header_section .col h2 strong{letter-spacing: 5px;}
}
@media(max-width: 1000px){
    .wpb_row.parallax_section{display:none;}
    .xui_header_section .col h2 {font-size: 18px;line-height: 18px;}
}

/* mobile header */
@media(max-width:1000px){
    body #header-outer[data-full-width="true"] header > .container{
        padding: 0 12px 0 7px !important;
    }
}

/* footer widgets */
#footer-outer .widget{min-height: 280px;}
#footer-outer .col .recent_posts_extra_widget .post-widget-text span{color: #31353d!important;}



/**===================================================================================================
news
=====================================================================================================*/
@media (min-width:767px) {
    #post-area article .post-content{
        min-height: 340px !important; 
    }
}









