/**===================================================================================================
HomePage 
=====================================================================================================*/
/*remove spaces*/
.owl-carousel{ margin-bottom: 0!important; }
.owl-carousel .owl-controls{ margin: 0 !important; }    
.sliderBlog > .wpb_wrapper > .row{ margin-bottom:0; padding-bottom:0 }
.sliderBlog .view-more{ margin-top:0 !important; }
@media(max-width:1000px){
    .owl-carousel{ margin-bottom: 0!important; }
    .sliderBlog .view-more{ margin-top:10px !important; }
    .slider-post-container article{ margin-bottom: 0 !important; margin-top:0 !important; }
    .essentials-content .portfolio-items > .col{ margin:0 !important; }
}

/*social icons*/
#firstRow{z-index:99;}
.view-lineup-btn a {border: none !important;width: 100%;font-size: 14px!important;background-color: #4f7015!important;}
@media(max-width:1000px){
    /*hide slider content on mobile*/
    .parallax_slider_outer.first-section .swiper-slide .content{ display:none;}
    /*remove the extra space*/
    body #portfolio{ margin:0 !important; } 
}

/*watch trailer*/
.watch-trailer-button .nectar-button{margin-top:5px!important;}
@media only screen and (max-width: 690px){
    .watch-trailer div.mobile-video{margin-bottom:0 !important;}
    .watch-trailer div.mobile-video .iframe-embed{margin-bottom:0 !important;}
    .pp_content .pp_inline iframe{height: 180px!important;}
}

/*essentials */
.portfolio-items .col .work-item.style-3 .work-info-bg{display:none;}
.portfolio-items .col .work-item.style-3 .vert-center h3{font-size: 24px; font-weight: bold; }
.homepage_essentials > .col > .vc_col-sm-12{padding-bottom:0 !important;}
@media(max-width:1000px){
    #homepage_ess .portfolio-items .essentials{margin-bottom: 0!important;}
}

/** Home slider show black screen before video start to play --tengfei*/
@media (min-width: 1000px){
    #ajax-content-wrap .nectar-slider-loading{display:none !important;}
    #ajax-content-wrap .swiper-slide{background-color: #000 !important;}
    #ajax-content-wrap  .container-wrap{background: #000 !important;}
    #ajax-content-wrap > div:first-child .container{ max-width: none !important;padding: 0 !important; }
    #ajax-content-wrap #nectar-slider + .container-wrap{background: #f6f6f6 !important;}
    .home_slider .container .content > * { opacity:1 !important;padding-top: 0 !important; }
    .nectar-slider-wrap{display:block;}
    .main-content .row #nectar-slider{ visibility: visible; }
}
@media (max-width:1000px){
    body.ascend{background-color:#f6f6f6;}
    .youtube-video .hide_, .youtube-video .hide_ .iframe-embed { margin-bottom: 0 !important; }
}

.slider-post-container .post-content .article-content {padding-top: 5px !important;}
.slider-post-container .post-content .post-featured-img{ height:auto !important; }




/**===================================================================================================
Tickets Page
=====================================================================================================*/
/* Latest Pricing Table Style Updated by tengfei 2016-10-24 */
.pricing-table.tickets { margin-top:35px; }
.pricing-table.tickets .pricing-column h4 .dollar-sign{font-size: 30px !important;font-weight: bold !important; top: 0;}
.pricing-table.tickets .pricing-column.highlight .nectar-button {margin: 0px 0px 10px 0px;}
.pricing-table.tickets .pricing-column.highlight .highlight-reason{ display:none !important; }
@media (min-width:1001px){
	.pricing-table.tickets{ text-align:center; }
	.pricing-table.tickets .pricing-column{ float:none; display:inline-block;vertical-align:top;}
    .pricing-table.tickets .pricing-column-content{min-height: 180px;padding-bottom:10px; }
	.pricing-table.tickets.two-cols .pricing-column, 
	.pricing-table.tickets.three-cols .pricing-column, 
	.pricing-table.tickets.four-cols .pricing-column{ width:25% !important; }
	.pricing-table.tickets .pricing-column h4{font-size: 43px!important; }
	.pricing-table.tickets .pricing-column h4 .dollar-sign{font-size: 42px !important;font-weight: bold !important; top: 0;}
	.pricing-table.tickets .pricing-column.highlight h3{ padding: 19px 0px; }
	.pricing-table.tickets .pricing-column.highlight{ margin-top:0 !important;top:0!important; }
    .pricing-table.tickets.equalheight .pricing-column .pricing-column-content{ min-height: 169px;padding: 0; }
}
@media (max-width: 1000px){
    .pricing-table.tickets h3, .pricing-table.tickets .pricing-column-content{border-left: 1px solid #e4e4e4!important;}
    .pricing-table.tickets h3{padding:10px 0;}
    .pricing-table.tickets .pricing-column-content{padding-bottom: 15px;}    
    .pricing-table.tickets .interval{display: block;width: auto;padding: 0;min-height: 30px;}
    .pricing-table.tickets h4{font-size:30px!important;padding-top:0;padding-bottom:0;margin: 0; }
    .pricing-table.tickets .nectar-button{margin-bottom:0;}
}





/**===================================================================================================
Info Page
=====================================================================================================*/
@media (max-width: 1000px){
   #contact-us-form .contactus-img img{margin: 0; width: 100%;}
}




/**===================================================================================================
Salient Theme
=====================================================================================================*/
/*nav*/
.icon-angle-down:before{content:"\f0da";}
body #mobile-menu li.open > a .icon-angle-down:before{ content:"\f0d7"!important; }
#mobile-menu li.menu-item .sf-sub-indicator > i{font-size: 20px;}
#header-outer.transparent header#top nav ul.sf-menu>li>a{color: #FFF;opacity: 1 !important; transition: none !important;}
#header-outer{border: none!important;}
@media (max-width: 1000px){
    body #mobile-menu {z-index: 9000; padding-top: 58px !important;top: 0 !important;max-height: 100%;}
}

/*slider*/
@media (min-width: 1000px){
    #ajax-content-wrap .swiper-slide .content h2{font-size: 60px;font-weight: normal;margin-bottom:20px; letter-spacing: 0px;}
    #ajax-content-wrap .swiper-slide .content p{ line-height:50px; }
}

/*section header*/
.xui_header_section h2 > strong, .parallax_header_section h2 > strong{ text-transform: uppercase; }
.full-width-section.parallax_section .row-bg-wrap,
.full-width-content.parallax_section .row-bg-wrap{filter:brightness(80%);-webkit-filter:brightness(80%);}
.xui_header_section2 > .span_12{float:none;}
.xui_header_section .wpb_wrapper h2 strong,
.xui_header_section2 .wpb_text_column p strong{color: white;}
@media (min-width: 1001px){
    .header-section-bg-color h2 strong, .parallax_header_section h2 strong,
    .xui_header_section h2 strong{ letter-spacing: 5px; }
}

/*sponsor*//*social-channels*/
.container.footer-content .carousel.clients > div :hover{opacity: 0.7 !important;}
.footer-content .clients.five-cols > div.no-link:last-child{display:none !important;}
#social-channels-row a i{color: #6a346d !important;}
#social-channels-row a i:hover{color: #fff !important;}
.pricing-table.channels .pricing-column>h3, .pricing-table.channels .pricing-column>div {background: #87ba2f;}
@media (max-width: 1000px){
    .pricing-table.channels .pricing-column:last-child{margin-bottom:0 !important;}
    #ajax-content-wrap .footer-content .wpb_row.socail_channels{max-width:100% !important;}
    #ajax-content-wrap .footer-content .wpb_row.socail_channels > .col{max-width: 300px;margin: 0 auto !important;}
}
@media (min-width: 690px) and (max-width: 1000px){
    .pricing-table.channels .pricing-column{margin-bottom: 0px!important;padding-bottom: 15px !important; }
    #ajax-content-wrap .footer-content .wpb_row.socail_channels > .col{max-width: 500px;margin: 0 auto !important;}
}
@media (min-width:690px){
    .footer-content .clients.five-cols{text-align: center;}
    .footer-content .clients.five-cols > div{display: inline-block !important;float: none;margin-bottom: 0;}
}

/*footer styles*/
#footer-outer #footer-widgets .widget{min-height: 225px;}
#footer-outer #footer-widgets .col ul li a{display:inline-block;}
#footer-outer .widget_nav_menu h4 {font-weight: bold !important;color: #fff !important;}
#footer-outer .recent_posts_extra_widget h4{ color: #fff !important;font-weight:bold !important; }
#footer-outer .col .recent_posts_extra_widget .post-widget-text span {color: #fff!important;}
#footer-outer .widget{min-height: 300px;}
#footer-outer #copyright p{color: #ccc;}
@media(max-width:1000px){
    .footer-sticky-nav + #footer-outer{ margin-bottom: 45px; }
    body{padding-bottom: 46px;}
}

/*single-post*/
.single-post #footer-outer{ margin-top:0 !important; }
@media (min-width:1001px){
    .single-post #header-outer:not(.small-nav) .header-logos{display:block;top: 10px;}
    #single-meta .nectar-social{display:block;}
    body.single-post .nectar-sharing:hover i{color: #999 !important;}
}
@media (max-width:1000px){
    .single-post article.post .content-inner{ padding-bottom:0; }
    .single-post #ajax-content-wrap .main-content{padding:0!important;}
    .single-post #ajax-content-wrap #post-area article, 
    .single-post #ajax-content-wrap .main-content .heading-title{margin-left:5% !important;margin-right:5% !important; }
    .single-post #ajax-content-wrap .wpb_row{margin-bottom:0;}
    .single .heading-title{padding-bottom: 10px;margin-bottom: 25px;}
}

/*news*/
.slider-post-container .post-content:hover .title{color: #444 !important;}
#post-area .post-content:hover .title a{color: #444 !important;}

/*insomniac-socail-bar*/
#socail-bar-row{z-index:20;}
.insomniac-socail-bar{padding-top: 10px; padding-bottom:10px; }
.insomniac-socail-bar a{ padding: 8px 10px 0 10px !important;vertical-align: middle;display: inline;}
.insomniac-socail-bar a.btn-newsletter-signup{
    color: #fff;border: 2px solid rgba(255,255,255,0.75);
    height: 31px;line-height: 27px;padding: 0px 10px !important;display: inline-block !important;
    margin-left: 8px;cursor: pointer;}
.insomniac-socail-bar a > i{ font-size:22px;display: inline-block;vertical-align:middle;}
.insomniac-socail-bar a i:hover{color:#6a346d;}
.insomniac-socail-bar a.btn-newsletter-signup:hover{background-color:#6a346d; border-color:#6a346d;}
@media (max-width:1000px){
    .insomniac-socail-bar{text-align: center;margin-bottom: 0 !important;padding: 11px 5px 8px;}
}
@media (max-width:350px){
    .insomniac-socail-bar .addthisevent_dropdown{left: -90px !important;}
}

/*others*/
.addeventatc .copyx{display:none!important;}
#side-nav-tix .slide-nav li a.checked{ background: #4f7015 !important; }
#side-nav-tix .slide-nav li a:hover{ background-color: #87ba2f !important; }






