/**===================================================================================================
HomePage 
=====================================================================================================*/
/*remove spaces*/
.owl-carousel{ margin-bottom: 13px!important; }
.owl-carousel .owl-controls{ margin: 0 !important; }    
.sliderBlog > .wpb_wrapper > .row{ margin-bottom:0; padding-bottom:0 }
.sliderBlog .view-more{ margin-top:0 !important; }
@media(max-width:1000px){
    .owl-carousel{ margin-bottom: 0!important; }
    .sliderBlog .view-more{ margin-top:10px !important; }
    .slider-post-container article{ margin-bottom: 0 !important; margin-top:0 !important; }
    .essentials-content .portfolio-items > .col{ margin:0 !important; }
}

/*firstRow*/
#firstRow{z-index:99;}
#firstRow .travel-link a{ color:#fff; }
#firstRow .travel-link a i{ color:#fff !important; }
.social-icons-middle{ z-index:11; }
.social-icons-middle a{ vertical-align: middle; }
.social-icons-middle .wpb_raw_html a:not(.btn-newsletter-signup){ padding: 5px !important;display: inline-block; }
.social-icons-middle .wpb_raw_html a > i{ font-size:22px;display: inline-block;vertical-align:middle;}
.social-icons-middle .wpb_raw_html a:hover > i{color:#c03646;}
.watch-trailer .nectar-button{margin-bottom:0;position: static;}
.social-icons-middle #newsletter-signup{ position:static; }
@media(max-width:1000px){
    /*hide slider content on mobile*/
    .parallax_slider_outer.first-section .swiper-slide .content{ display:none;}
    #firstRow .watch-trailer .nectar-button{border: none;font-weight: bold;margin-bottom: 0;}
    #firstRow .watch-trailer .nectar-button:hover{background-color: transparent;}
    #firstRow .watch-trailer{padding: 0 !important;}
    /*remove the extra space*/
    body #portfolio{ margin:0 !important; } 
}

/*watch trailer*/
.pp_pic_holder .pp_close{ top: 8px; right: 0;}
@media only screen and (max-width: 690px){
    .pp_content #pp_full_res iframe{height: 180px!important;width:320px}
    .pp_pic_holder .pp_close{ top:0;}
    .watch-trailer a { width: 100%; }
}

/*essentials */
div.essentials-content .portfolio-items .col{margin-bottom:0 !important;}
.portfolio-items .col .work-item.style-3 .work-info-bg{display:none;}
.portfolio-items .col .work-item.style-3 .vert-center h3{font-size: 24px; font-weight: bold; }

.xui_header_section a{color:#fff;}

/** Home slider show black screen before video start to play --tengfei*/
@media (min-width: 1000px){
    #ajax-content-wrap .nectar-slider-loading{display:none !important;}
    #ajax-content-wrap .swiper-slide{background-color: #000 !important;}
    #ajax-content-wrap  .container-wrap{background: #000 !important;}
    #ajax-content-wrap #nectar-slider + .container-wrap{background: #f6f6f6 !important;}
    .home_slider .container .content > * { opacity:1 !important;padding-top: 0 !important; }
    .nectar-slider-wrap{display:block;}
    .main-content .row #nectar-slider{ visibility: visible; }
}
@media (max-width:1000px){
    body.ascend{background-color:#f6f6f6;}
}



/**below styles only for JP**/
.mfp-wrap.mfp-ready .mfp-content{margin: 0 auto;width: auto;}
.mfp-wrap.mfp-ready .mfp-content .white-popup{background: #fff;border-radius: 5px;}
.mfp-wrap.mfp-ready .mfp-content iframe{padding: 30px 15px 30px;}
.mfp-wrap.mfp-ready .mfp-content .mfp-close{top: -5px;right: -5px;}






/**===================================================================================================
Experience Page
=====================================================================================================*/
.portfolio-items .work-item .work-info-bg{display:none;}
.portfolio-items .work-item.style-3 img{transform: none !important;}
.wpb_gallery{margin-bottom: 0 !important;}
@media only screen and (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > h3 > img{ width:100%; }
    .wpb_wrapper > .divider{display:none;}
}




/**===================================================================================================
COMMUNITY
=====================================================================================================*/
body #ajax-content-wrap .wpb_gallery #portfolio > .col{ margin:0 !important; }
body #ajax-content-wrap .wpb_gallery{margin-bottom: 0 !important;}
.wpb_gallery .work-item .work-info-bg{display:none;}
#portfolio{ background:#000;margin-left:0 !important; }
#portfolio .work-item{width:100%;}
@media(min-width: 1001px) {
    .portfolio-items .col.span_3{
        width: 24.9% !important;
    }
}
@media (max-width: 1000px) and (min-width: 690px){
	.portfolio-items:not(.carousel) .col.span_4, 
	.portfolio-items:not(.carousel) .col.span_3 {
	    width: 49.9%!important;
	}
}
@media only screen and (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
    .wpb_gallery .work-item .work-info{display:none;}
    .wpb_gallery #portfolio .work-item > img{ width:100% !important; }
    .wpb_wrapper > .divider{display:none;}
}
.nectar-fancy-ul ul{margin-bottom:0;}



/**===================================================================================================
Health Page
=====================================================================================================*/
@media (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
}



/**===================================================================================================
Travel
=====================================================================================================*/
.gm-style > div:first-child > div:first-child > div:nth-child(4) > div{ overflow: visible !important; }
.gm-style > div:first-child > div:first-child > div:nth-child(4) > div img{ top: 60px !important; }




/**===================================================================================================
Info
=====================================================================================================*/
@media (max-width: 1000px){
    #ajax-content-wrap .wpb_row .text-center{margin:0 !important;padding-bottom:0 !important;}
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
}







/**===================================================================================================
Salient
=====================================================================================================*/
/*nav*/
.header-logos{display:none !important;}
.icon-angle-down:before{ content: "\f0da"; }
body #mobile-menu li.open > a .icon-angle-down:before{ content:"\f0d7" !important; }
#mobile-menu li.menu-item .sf-sub-indicator > i{ font-size: 20px; }
@media screen and (min-width: 1001px){
    #header-outer .header-logos{display:none;}
    #header-outer.small-nav .header-logos{display:block;}
}
#header-outer{border: none!important;}
#header-outer.transparent header#top nav ul.sf-menu>li>a{color: #FFF;opacity: 1 !important; transition: none !important;}
#lang_sel_footer a{background: #69071a none repeat scroll 0 0 !important;}
#lang_sel_footer a.lang_sel_sel, #lang_sel_footer a:hover{background-color: #e03d5a !important;}

/*section header*/
.wpb_wrapper h2>strong, .xui_header_section2 .wpb_text_column p strong{color: white;}
@media (min-width: 1001px){
    .header-section-bg-color h2 strong, .parallax_header_section h2 strong,
    .xui_header_section h2 strong{ letter-spacing: 5px; }
}

/*sponsor*/
html[lang="en"] .sponsor-row-2, html[lang="en"] #sponsors{display: none;}
.sponsor-row-2 .no-link > img{display: none;}
.sponsor-row-2 .clients > div{ margin-bottom:0 !important; }
.container.footer-content .carousel.clients > div:hover{opacity: 0.7 !important;}
@media (min-width: 690px){
    .sponsor-row-2 .clients{ text-align:center; }
    .sponsor-row-2 .clients > div{ float:none;display: inline-block;float: none; }
}
/*social-channels*/
@media (max-width: 1000px){
    .pricing-table.channels .pricing-column:last-child{margin-bottom:0 !important;}
}

/*footer*/
.footer-sticky-nav > a { font-weight: bold; }

/*single-post*/
.single-post #footer-outer{ margin-top:0 !important; }
@media (min-width:1001px){
    .single-post #header-outer:not(.small-nav) .header-logos{display: block;top: 16px;right: 90px;}
    #single-meta .nectar-social{display:block;}
    body.single-post .nectar-sharing:hover i{color: #999 !important;}
}
@media (max-width:1000px){
    body.single-post #footer-socails-nav .nectar-sharing:hover i{color: #fff !important;}
    .single-post article.post .content-inner{ padding-bottom:0; }
    .single-post #ajax-content-wrap .main-content{padding:0!important;}
    .single-post #ajax-content-wrap #post-area article, 
    .single-post #ajax-content-wrap .main-content .heading-title{
        margin-left:5% !important;margin-right:5% !important; 
    }
    .single-post #ajax-content-wrap .wpb_row{margin-bottom:0;}
    .single .heading-title{padding-bottom: 10px;margin-bottom: 25px;}
}

/*fix header menu hard read problem author:yaxing*/
.page-header-bg-image{opacity:0.8;}

/*insomniac-socail-bar*/
#socail-bar-row{z-index:20;}
.insomniac-socail-bar a.btn-newsletter-signup{
    color: #fff;border: 2px solid rgba(255,255,255,0.75);
    height: 31px;line-height: 27px;padding: 0px 10px !important;display: inline-block !important;
    margin-left: 8px;cursor: pointer;}
.insomniac-socail-bar a i:hover{color:#c03646;}
.insomniac-socail-bar a.btn-newsletter-signup:hover{background-color:#c03646; border-color:#c03646;}
@media (max-width:1000px){
    .insomniac-socail-bar{text-align: center;margin-bottom: 0 !important;}
}













