/**===================================================================================================
HomePage 
=====================================================================================================*/
/*remove spaces*/
.owl-carousel{ margin-bottom: 13px!important; }
.owl-carousel .owl-controls{ margin: 0 !important; }    
.sliderBlog > .wpb_wrapper > .row{ margin-bottom:0; padding-bottom:0 }
.sliderBlog .view-more{ margin-top:0 !important; }
@media(max-width:1000px){
    .owl-carousel{ margin-bottom: 0!important; }
    .sliderBlog .view-more{ margin-top:10px !important; }
    .slider-post-container article{ margin-bottom: 0 !important; margin-top:0 !important; }
    .essentials-content .portfolio-items > .col{ margin:0 !important; }
}

/*firstRow*/
.social-icons-middle{ z-index:11; }
.social-icons-middle a:not(#newsletter-signup){ vertical-align: -2px; }
.social-icons-middle a{ padding: 3% 10px 0 10px !important; }
#firstRow{z-index:99;}
#firstRow .travel-link a{ color:#fff; }
#firstRow .travel-link a > i{ color:#fff !important; }
@media(max-width:1000px){
    /*hide slider content on mobile*/
    .parallax_slider_outer.first-section .swiper-slide .content{ display:none;}
    .social-icons-middle #newsletter-signup{ position:static; }
    .watch-trailer .nectar-button{border: none;font-weight: bold;margin-bottom: 0;}
    #firstRow .watch-trailer{padding: 0 !important;padding-top: 5px !important;}
    /*remove the extra space*/
    body #portfolio{ margin:0 !important; } 
}

/*watch trailer*/
@media only screen and (max-width: 690px){
    .pp_content .pp_inline iframe{height: 180px!important;}
}

/*essentials */
div.essentials-content .portfolio-items .col{margin-bottom:0 !important;}
.portfolio-items .col .work-item.style-3 .work-info-bg{display:none;}
.portfolio-items .col .work-item.style-3 .vert-center h3{font-size: 24px; font-weight: bold; }

.xui_header_section a{color:#fff;}






/**===================================================================================================
Experience Page
=====================================================================================================*/
.portfolio-items .work-item .work-info-bg{display:none;}
.portfolio-items .work-item.style-3 img{transform: none !important;}
.wpb_gallery{margin-bottom: 0 !important;}
@media only screen and (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > h3 > img{ width:100%; }
    .wpb_wrapper > .divider{display:none;}
}




/**===================================================================================================
COMMUNITY
=====================================================================================================*/
body #ajax-content-wrap .wpb_gallery #portfolio > .col{ margin:0 !important; }
body #ajax-content-wrap .wpb_gallery{margin-bottom: 0 !important;}
.wpb_gallery .work-item .work-info-bg{display:none;}
#portfolio{ background:#000;margin-left:0 !important; }
#portfolio .work-item{width:100%;}
@media(min-width: 1001px) {
    .portfolio-items .col.span_3{
        width: 24.9% !important;
    }
}
@media (max-width: 1000px) and (min-width: 690px){
	.portfolio-items:not(.carousel) .col.span_4, 
	.portfolio-items:not(.carousel) .col.span_3 {
	    width: 49.9%!important;
	}
}
@media only screen and (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
    .wpb_gallery .work-item .work-info{display:none;}
    .wpb_gallery #portfolio .work-item > img{ width:100% !important; }
}







/**===================================================================================================
Info
=====================================================================================================*/








/**===================================================================================================
Salient
=====================================================================================================*/

/*nav*/
.icon-angle-down:before{ content: "\f0da"; }
body #mobile-menu li.open > a .icon-angle-down:before{ content:"\f0d7" !important; }
#mobile-menu li.menu-item .sf-sub-indicator > i{ font-size: 20px; }
@media screen and (min-width: 1001px){
    #header-outer .header-logos{display:none;}
    #header-outer.small-nav .header-logos{display:block;}
}
#header-outer.transparent header#top nav ul.sf-menu>li>a{
    color: #FFF;opacity: 1 !important; transition: none !important;
}

/*section header*/
.wpb_wrapper h2>strong, .xui_header_section2 .wpb_text_column p strong{color: white;}
@media (min-width: 1001px){
    .header-section-bg-color h2 > strong, .parallax_header_section h2 > strong,
    .xui_header_section h2 > strong{ letter-spacing: 5px; }
}

/*sponsor*/
html[lang="en"] .sponsor-row-2, html[lang="en"] #sponsors{display: none;}
.sponsor-row-2 .no-link > img{display: none;}
.sponsor-row-2 .clients > div{ margin-bottom:0 !important; }
@media (min-width: 690px){
    .sponsor-row-2 .clients{ text-align:center; }
    .sponsor-row-2 .clients > div{ float:none;display: inline-block;float: none; }
}
/*social-channels*/
@media (max-width: 1000px){
    .pricing-table.channels .pricing-column:last-child{margin-bottom:0 !important;}
}

/*footer*/
#footer-button.footer-sticky-nav,
#footer-socails-nav.footer-sticky-nav{ background: #0099cc !important;}
.footer-sticky-nav > a { font-weight: bold; }

/*single-post*/
.single-post #footer-outer{ margin-top:0 !important; }
.single-post #header-outer:not(.small-nav) .header-logos{top: 10px;}
@media (min-width:1001px){
    #single-meta .nectar-social{display:block;}
}

/*fix header menu hard read problem author:yaxing*/
.page-header-bg-image{opacity:0.8;}































