/*===Home Page===================================================================================*/
#ajax-content-wrap .nectar-slider-loading{display:none !important;}
#firstRow{z-index:20;}
#firstRow .add-calendar-column{ z-index: 11; }
#firstRow .col.span_12 > div{opacity: 1 !important;transform: translate(0px, 0px) !important;}
#firstRow .third-zone .nectar-button{margin:0!important;font-size:17px;top:0;}
.wpb_text_column.view-more{z-index: 99;position: relative;}
@media(max-width:1000px){
    #firstRow-mobile a.btn-newsletter-signup{margin:0 0 0 8px!important;}
    .sliderBlog .wpb_text_column.view-more{margin-top:0 !important;}
    .video-embed.wpb_raw_html, .video-embed.wpb_raw_html .iframe-embed{margin-bottom:0 !important;}

    #header-image-mobile{margin-top: -25px;}
    #nectar-slider{display: none !important;}
}

/*color related*/
#firstRow .nos .wpb_text_column p, #firstRow .nos .wpb_text_column i{ color:#2e2c35!important; }
#firstRow .third-zone .nectar-button{color:#2e2c35!important;border-color:#2e2c35!important;background-color:transparent!important;}
.wpb_raw_html.insomniac-socail-bar a i:hover{color:#d5df2d !important;}
a.btn-newsletter-signup:hover{border-color: #fff!important;}
.slider-post-container .post-content .article-content .title{color:#1e1d24 !important;}
.slider-post-container .post-content .article-content .title:hover{color:#1e1d24 !important;}
.wpb_text_column.view-more a:hover{ color:#674550!important; }
.wpb_text_column.view-more.view-images a:hover{ color:#d5df2d!important; }

/**start:IN-3997**/
#ajax-content-wrap .nectar-slider-loading{display:none !important;}
/**end:IN-3997**/





/*===TICKETS===================================================================================*/
@media(min-width:1001px){
    .vc_col-sm-6 .pricing-table.tickets .pricing-column{width:100%;}
    .vc_col-sm-6 .pricing-table.tickets.three-cols .pricing-column{width:33.2%!important;}
    .pricing-table.tickets.ga .pricing-column-content{min-height:160px;}
    .pricing-table.tickets.vip .pricing-column-content{min-height:135px;}
    .pricing-table.tickets.laybx .pricing-column{width:16.66%;}
    .pricing-table.tickets.laybx .pricing-column h4{padding-top:26px;}
}




/*===INFO===================================================================================*/
.contact-us-form form{ margin-bottom:50px;margin-top:0 !important; }
.contact-us-form .button-group button.addattach{margin-right: 60px;width:auto;padding:0 10px; }
.contact-us-form div.wpcf7{margin-top:0 !important; }
#contact-image { z-index: -1; }

@media (max-width: 1000px){
    .main-content ul, .main-content ol{margin-bottom:0;}
}





/*===NEWS===================================================================================*/
.blog-fullwidth-wrap #post-area.masonry { margin-bottom: 0 !important; }
@media (min-width:767px) {
    #post-area article .post-content{min-height: 360px !important; }
}
.news-blogs .posts-container article .post-content .title a{color:#000 !important;}
.news-blogs .posts-container article .post-content .title a:hover{color:#004AA3 !important;}





/*========================================SALIENT==============================================*/
/*colors*/
body a{color:brown;}
.bright-bg h4, .bright-bg p, .bright-bg li{color: #2e2c35;}
.xui_header_section .wpb_text_column h2 strong{color:#fff !important;}
body #footer-outer a:hover{ color:#d5df2d!important; }

