/*nav*/
.icon-angle-down:before{content:"\f0da";}
body #mobile-menu li.open > a .icon-angle-down:before{ content:"\f0d7"!important; }
#mobile-menu li.menu-item .sf-sub-indicator > i{font-size: 20px;}
#header-outer.transparent header#top nav ul.sf-menu>li>a{
    color: #FFF;opacity: 1 !important; transition: none !important;
}
#header-outer #logo > img{display:none!important;}
#header-outer{border: none!important;}

/*Slider*/
.swiper-slide  .buttons .button-wrap > a:before{ background:#5e29b5 !important;}
@media (min-width: 1000px){
    #ajax-content-wrap .swiper-slide .content h2{font-size: 60px;font-weight: normal;margin-bottom:20px; letter-spacing: 0px;}
    #ajax-content-wrap .swiper-slide .content p{ line-height:50px; }
}

/*section header*/
.xui_header_section h2 > strong, .parallax_header_section h2 > strong{ text-transform: uppercase; }
.full-width-section.parallax_section .row-bg-wrap,
.full-width-content.parallax_section .row-bg-wrap{filter:brightness(80%);-webkit-filter:brightness(80%);}
.xui_header_section2 > .span_12{float:none;}
@media (min-width: 1001px){
    .header-section-bg-color h2 > strong, .parallax_header_section h2 > strong,
    .xui_header_section h2 > strong{ letter-spacing: 5px; }
}
@media (min-width: 750px){
    .xui_header_section > div.row-bg-wrap > div.row-bg, 
    .xui_header_section2 > div.row-bg-wrap > div.row-bg{ background-size:100% 100%;}
}

/*sponsor*//*social-channels*/
.container.footer-content .carousel.clients > div :hover{opacity: 0.7 !important;}
.footer-content .clients.five-cols > div.no-link:last-child{display:none !important;}
#social_channel a i:hover{color: #fff !important;}
.pricing-table.channels .pricing-column>h3, .pricing-table.channels .pricing-column>div {background: #c354ff;}
@media (max-width: 1000px){
    .pricing-table.channels .pricing-column:last-child{margin-bottom:0 !important;}
    #ajax-content-wrap .footer-content .wpb_row.socail_channels{max-width:100% !important;}
    #ajax-content-wrap .footer-content .wpb_row.socail_channels > .col{max-width: 300px;margin: 0 auto !important;}
}
@media (min-width: 690px) and (max-width: 1000px){
    .pricing-table.channels .pricing-column{margin-bottom: 0px!important;padding-bottom: 15px !important; }
    #ajax-content-wrap .footer-content .wpb_row.socail_channels > .col{max-width: 500px;margin: 0 auto !important;}
}
@media (min-width:690px){
    .footer-content .clients.five-cols{text-align: center;}
    .footer-content .clients.five-cols > div{display: inline-block !important;float: none;margin-bottom: 0;}
}

/*footer styles*/
#footer-outer #footer-widgets .widget{min-height: 225px;}
#footer-outer #footer-widgets .col ul li a{display:inline-block;}
#footer-outer .widget_nav_menu h4 {font-weight: bold !important;color: #fff !important;}
#footer-outer .recent_posts_extra_widget h4{ color: #fff !important;font-weight:bold !important; }
#footer-outer .col .recent_posts_extra_widget .post-widget-text span {color: #fff!important;}
#footer-outer .widget{min-height: 300px;}
#footer-outer #copyright p{color: #ccc;}
@media(max-width:1000px){
    .footer-sticky-nav + #footer-outer{ margin-bottom: 45px; }
}

/*single-post*/
.single-post #footer-outer{ margin-top:0 !important; }
@media (min-width:1001px){
    .single-post #header-outer:not(.small-nav) .header-logos{display:block;top: 10px;}
    #single-meta .nectar-social{display:block;}
    body.single-post .nectar-sharing:hover i{color: #999 !important;}
}
@media (max-width:1000px){
    .single-post article.post .content-inner{ padding-bottom:0; }
    .single-post #ajax-content-wrap .main-content{padding:0!important;}
    .single-post #ajax-content-wrap #post-area article, 
    .single-post #ajax-content-wrap .main-content .heading-title{
        margin-left:5% !important;margin-right:5% !important; 
    }
    .single-post #ajax-content-wrap .wpb_row{margin-bottom:0;}
    .single .heading-title{padding-bottom: 10px;margin-bottom: 25px;}
}

/*news*/
.slider-post-container .post-content:hover .title{color: #444 !important;}
#post-area .post-content:hover .title a{color: #444 !important;}

/*insomniac-socail-bar*/
#socail-bar-row{z-index:20;}
.insomniac-socail-bar{padding-top: 10px; padding-bottom:10px; }
.insomniac-socail-bar a{ padding: 8px 10px 0 10px !important; }
.insomniac-socail-bar a i{font-size:20px;}
.insomniac-socail-bar a i:hover{color: #c354ff;}

@media (max-width:1000px){
    .insomniac-socail-bar{text-align: center;margin-bottom: 0 !important;padding: 11px 5px 8px;}
}
@media (max-width:350px){
    .insomniac-socail-bar .addthisevent_dropdown{left: -90px !important;}
}

@media (max-width: 1000px){
    body #mobile-menu {
        z-index: 9000;
        padding-top: 58px !important;
        top: 0 !important;
        max-height: 100%;
    }
}
@media only screen and (max-width: 690px){
    body .clients.no-carousel > div{margin-left: 25%;}
}
.addeventatc .copyx{display:none!important;}

@media(max-width:1000px){
    #ajax-content-wrap .fillter-lineup {
        margin: 0 auto !important;
        text-align: center;
    }
    #ajax-content-wrap .fillter-lineup {
        padding: 5% 0 !important;
    }
    /*remove insomniac logo - mobile*/
   .header-logos > .ico-insomniac { display: none !important; }
}
