


/**-----------------------------------------------------------------**/
/**                        SALIENT PAGE                             **/
/**-----------------------------------------------------------------**/
#lang_sel_footer a{background: #69071a !important;}
#lang_sel_footer a.lang_sel_sel,
#lang_sel_footer a:hover{background-color: #e03d5a !important;}
@media(max-width: 1000px){
    #lang_sel_footer{top:16px;}
}
#header-outer.small-nav .sf-menu .sub-menu{top: 36px !important;}
#header-outer .header-logos{display:none;}

/*section header*/
.xui_header_section a{color:#fff;}
#ajax-content-wrap .xui_header_section .row-bg-wrap > div.row-bg,
#ajax-content-wrap .xui_header_section2 .row-bg-wrap .row-bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd401+0,ffd401+31,f14304+100 */
    background: #ffd401 !important; /* Old browsers */
    background: -moz-linear-gradient(left, #ffd900 0%,#f13e03 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffd900 0%,#f13e03 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffd900 0%,#f13e03 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd401', endColorstr='#f14304',GradientType=1 ) !important; /* IE6-9 */
}

/*mobile ui adjust*/
@media(max-width:1000px){
    .wpb_row.parallax_section{display:block;}
    .wpb_row:not(.parallax_section) .divider-wrap{display:none!important;}
    .wpb_text_column > .wpb_wrapper img{ width:100%; }
    .text-center ul{margin-left: 15px;}
    .text-center > .wpb_wrapper > h4{ margin-top:0 !important;}
}

/*tickets pricing table adjust*/
.pricing-table.tickets{margin-top:0;margin-bottom: 0;}
.pricing-table.tickets .pricing-column-content h4{margin:0;padding:15px 0 8px!important;}
.pricing-table.tickets .pricing-column-content .interval{padding: 5px 0 10px;min-height: 0;line-height: 1.5;}
@media(max-width: 1000px){
    .pricing-table.tickets{padding-bottom: 0;}
    /*tickets pricing table adjust -- add border */
    .pricing-table.tickets .pricing-column:last-child{margin-bottom:0 !important;}
    .pricing-table.tickets .pricing-column h3,
    .pricing-table.tickets .pricing-column .pricing-column-content{border-left: 1px solid #e4e4e4!important;}
}



/**-----------------------------------------------------------------**/
/**                        HOME PAGE                                **/
/**-----------------------------------------------------------------**/













































