/**-----------------------------------------------------------------**/
/**                        SALIENT PAGE                             **/
/**-----------------------------------------------------------------**/

/**-------------------------------------------------------*/
/**                  Home Page                            */
/**-------------------------------------------------------*/


























>>>>>>> bb6997b1ba9ab8b4823e0be42842ff3a97247587







<<<<<<< HEAD
/**-------------------------------------------------------*/
/**                  Tickets Page                         */
/**-------------------------------------------------------*/
@media(min-width:1001px){  
    .pricing-table.tickets.ga .pricing-column-content{min-height:150px;}
    .pricing-table.tickets.vip .pricing-column-content{min-height:135px;}
}


/**-------------------------------------------------------*/
/**                  Experience Page                      */
/**-------------------------------------------------------*/
.portfolio-items .work-item .work-info-bg{display:none;}
.portfolio-items .work-item.style-3 img{transform: none !important;}
.wpb_gallery{margin-bottom: 0 !important;}
=======


>>>>>>> bb6997b1ba9ab8b4823e0be42842ff3a97247587







