
/**==========================================================================
Tickets Page
==========================================================================***/
@media(min-width:1000px){
    .anchor{ margin-top:-84px !important; }
}
@media (min-width:767px){
    .imagebox_disable_wpb_wrapper .wpb_wrapper :hover{ 
        transform: none; box-shadow: none; 
    } 
    .column_container.hover-animate :hover{ 
        transform: scale(1.005); box-shadow: 5px 5px 15px 5px rgba(0,0,0,.26); 
    } 
}
.portfolio-items .work-info-bg {
    opacity: 0!important;
}

@media (max-width: 1000px) {
    .highlight {
        transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -o-transform: scale(1,1);
    }
}
.nectar-button.regular-button.extra-color-1{
    background-color: #1A81BC!important;
}


/* Latest Pricing Table Style Updated by tengfei 2016-10-24 */
.pricing-table.tickets{ margin-top:0;}
.pricing-table.tickets .pricing-column h4 .dollar-sign{font-size: 30px !important;font-weight: bold !important; top: 0;}
.pricing-table.tickets .pricing-column.highlight .nectar-button {margin: 0px 0px 10px 0px;}
.pricing-table.tickets .pricing-column.highlight .highlight-reason{ display:none !important; }
@media (min-width:1001px){
	.pricing-table.tickets{ text-align:center; }
	.pricing-table.tickets .pricing-column{ float:none; display:inline-block; vertical-align: top;}
	.pricing-table.tickets.two-cols .pricing-column, 
	.pricing-table.tickets.three-cols .pricing-column, 
	.pricing-table.tickets.four-cols .pricing-column{ width:25% !important; }
	.pricing-table.tickets.equalheight .pricing-column .pricing-column-content{ min-height: 169px;padding: 0; }
	.pricing-table.tickets .pricing-column h4{font-size: 43px!important; }
	.pricing-table.tickets .pricing-column h4 .dollar-sign{font-size: 42px !important;font-weight: bold !important; top: 0;}
	.pricing-table.tickets .pricing-column.highlight h3{ padding: 19px 0px; }
	.pricing-table.tickets .pricing-column.highlight{ margin-top:0 !important;top:0!important; }
}
@media (max-width: 1000px){
	.pricing-table.tickets .pricing-column{
	    border: solid 1px #d0d2d3;
	    text-align: left;
	    margin-bottom: 0 !important;
	    position: relative;
	}
	.pricing-table.tickets .pricing-column h3 {
	    padding: 10px 0 10px 16px !important;
	    padding-bottom: 2px !important;
	    border: none !important;
	}
	.pricing-table.tickets .pricing-column .pricing-column-content {
	    border: none !important;
		padding-bottom: 10px;
	}	
	.pricing-table > div.pricing-column:first-child .pricing-column-content, 
	.pricing-table > div.pricing-column:first-child h3 {
    	border-left: none!important;
	}
	.pricing-table.tickets .pricing-column h4 {
	    font-size: 30px !important;
		padding-top: 0;
		padding-bottom: 0;
		margin-left: 0;
		padding: 0;
		padding-left: 12px;
	}
	.pricing-table.tickets .pricing-column .interval {
	    display: inline-block;
		width: auto;
		padding: 0;
		min-height: 20px;
		padding-left: 15px;
	}
	.pricing-table.tickets .pricing-column .nectar-button{
		visibility: visible;
		position: absolute;
		right: 15px;
		bottom: 5px;
		top: auto;	
	}
	.pricing-table.tickets .pricing-column .pricing-column-content > i{ 
		position: absolute;
    	right: 30px;
    	bottom: 15px;  
	}
	.pricing-table.tickets .pricing-column .pricing-column-content > p{ text-align:center; }
}
/* end of new pricing table styles */


@media(max-width:1000px){
    .engage .text-center, .enjoy .text-center {
        margin-bottom: 25px !important;
    }
    /*reduce space under 3-day,yaxing*/
    .admission-content .pricing-table {
        margin-top: 0;
    }
    .no-padding-mobile{
        padding:0!important;
    }
    #buy-locker a.nectar-button {
        display: inline-block !important;
        margin-left: 0 !important;
    }
}

/*remove plan interval,yaxing*/
#plans .interval, #plans-vip .interval {
    display: none;
}
#plans .pricing-table, #plans-vip .pricing-table{
    margin-bottom:35px;
    padding-bottom:0px;
}
/*remove margin-bottom of faq, Yaxing*/
.nocturnal_special_strong {
    margin-bottom: 0;
}
/*reduce space under first price column,yaxing*/
.admission-content {
    margin-bottom: 20px;
}

@media (max-width: 1000px){
    .vipicons{
        white-space: nowrap;
        padding-left: 45px;
    }
    .vipicons:before{
        background-size: auto 100%;
        width: 45px;
        height: 45px;
        left: -8px;
    }
}
@media (max-width: 360px){
    .vipicons{ white-space: normal;}
}
@media (min-width: 691px){
    .vc_col-sm-9 .pricing-column{width:33.3% !important;}
    .vc_col-sm-3 .pricing-column{width:100% !important;}
}

@media (max-width: 1000px){
    body #ajax-content-wrap .text-center{
        padding-left: 10% !important;
        padding-right: 10% !important;
        margin-top: 25px;
    }
    body #ajax-content-wrap .text-center.first{
        margin-top:0 !important;    
    }
    body #ajax-content-wrap .text-center.last{
        margin-bottom:25px !important;    
    }
}


