Please Keep Same Codes In Two Languages

/*====================== Home Page =========================*/
/** Home slider show black screen before video start to play --tengfei*/
@media (min-width: 1000px){
    #ajax-content-wrap .nectar-slider-loading{display:none !important;}
    #ajax-content-wrap .swiper-slide{background-color: #000 !important;}
    #ajax-content-wrap  .container-wrap{background: #000 !important;}
    #ajax-content-wrap > div:first-child .container{ max-width: none !important;padding: 0 !important; }
    #ajax-content-wrap #nectar-slider + .container-wrap{background: #f6f6f6 !important;}
    .home_slider .container .content > * { opacity:1 !important;padding-top: 0 !important; }
    .nectar-slider-wrap{display:block;}
    .main-content .row #nectar-slider{ visibility: visible; }
}
@media (max-width:1000px){
    body.ascend{background-color:#f6f6f6;}
}
@media(max-width:1000px){
    .home_slider .content{display:none !important;}
    #firstRow .add-calendar-column{padding:0!important;}
    .wpb_raw_html.mobile-video,
    .wpb_raw_html.mobile-video .iframe-embed{margin-bottom:0!important;}
}


#firstRow{z-index:12;}
#firstRow .add-calendar-column{z-index:20;}
.slider-post-container{overflow: visible !important;}
.xui_header_section h2 a{color:#fff !important;}

.watch-trailer-btn .nectar-button{margin:0 !important;top:0 !important;}


/*color updates*/
.wpb_raw_html.insomniac-socail-bar a i:hover { color: #810e78 !important; }
.wpb_text_column.view-more a:hover { color: #1bb3cd !important; }
.slider-post-container .post-content
.article-content .title:hover { color: #f00469 !important; }
.slider-post-container .post-content:hover { color: #1bb3cd !important; }
.slider-post-container .post-content:hover .read-more { color: #1bb3cd !important; }

@media(max-width:1000px){
  #news-title strong { display: block; }
  #news-title {
    padding-top: 2.6% !important;
    padding-bottom: 2.6% !important;
  }
  #news-title .column_container { padding: 0 !important; }
}


/*====================== TICKETS =========================*/
/*pricing table*/
#ga-content .pricing-table.tickets{margin-top:0;}
#ga-content .pricing-table.tickets .pricing-column{width:100%;}
#ga-content .pricing-table.tickets .pricing-column .interval{display:none;}
#layaway-content .pricing-table.tickets{margin:20px 0!important;padding:0 !important;}
#ajax-content-wrap .container-wrap{padding-bottom:0;}
@media(max-width: 1000px){
    .pricing-table.tickets .pricing-column:last-child{margin-bottom:0 !important;}
    .pricing-table.tickets .pricing-column h3, 
    .pricing-table.tickets .pricing-column .pricing-column-content{
        border-left: 1px solid #e4e4e4!important;
    }
}


/*====================== SKYDECK INQUIRY FORM =========================*/
#inquiry-form-area{}
.hide{display:none!important;}
#form_sent_ok{display:none;}
#form_sent_ok img{margin-bottom: 0 !important;}

.container-wrap{padding-bottom:0!important;}
.container-wrap .wpcf7-form .flexbox input[type="submit"]:hover{opacity: 0.7;}
.container-wrap .wpcf7-form .flexbox input[type="submit"]{background-color: #004aa3 !important;}

@media (min-width:1440px) {
    #page-header-wrap #page-header-bg{background-position:0 -50px;}
}
@media (min-width:1920px) {
    #page-header-wrap #page-header-bg{background-position:0 -120px;}
}

/*** custom checkboxes ***/
input[type=checkbox]#signup { display:none; } /* to hide the checkbox itself */
input[type=checkbox]#signup + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 22px;
  vertical-align: sub;
}
input[type=checkbox]#signup + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox]#signup + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]#signup:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]#signup:checked + label:before { letter-spacing: 7px; } /* allow space for check mark */


/******wpcf7-form********/
.wpcf7-form ul li{margin-top:10px;list-style-type:none;}
.wpcf7-form ul > li > label{text-transform:uppercase;display: block;}
.wpcf7-form .flexbox input.wpcf7-form-control,
.wpcf7-form .flexbox select.wpcf7-form-control,
.wpcf7-form .flexbox textarea.wpcf7-form-control{padding:5px!important;background-color:#e6e7e8 !important}
.container-wrap .wpcf7-form .flexbox input[type="submit"]{padding:6px 55px !important;font-size:16px;text-transform:uppercase;}
.wpcf7-form .flexbox .wpcf7-checkbox>span{display:block}

/*mobile UI*/
@media (max-width:768px) {
    .wpcf7-form ul{margin:0!important;}
    #form_sent_ok{margin-bottom:0;}
    #form_sent_ok .wpb_text_column p{padding:0;}
    #form_sent_ok .wpb_text_column img{width:100%;margin:0;}
}


/*====================== EXPERIENCE =========================*/
.wpb_gallery{margin-bottom:0 !important;}
.wpb_gallery .portfolio-items .col{margin-bottom:0 !important;}
.wpb_gallery .col .work-info-bg{display:none;}
.wpb_gallery .work-item img{transform: none !important;}/*IN-3903 remove hover effect*/
@media(max-width: 1000px){
    .wpb_row .mobile-gallery-carousel{margin-bottom:-1px !important;}
}


/*====================== TRAVEL =========================*/
.gm-style > div:first-child > div:first-child > div:nth-child(4) > div{ overflow: visible !important; }
.gm-style > div:first-child > div:first-child > div:nth-child(4) > div img{ top: 20px !important;margin-left: -5px !important; }
/*to hide duplicated policy*/
.gm-style .gmnoscreen, .gmnoscreen{display: none;}


/*====================== Info =========================*/
#ajax-content-wrap .container-wrap{padding-bottom:0;}
#contact-image{z-index: -1;}
.contact-us-form form{ margin-bottom:50px;margin-top:0 !important; }
.contact-us-form .button-group button.addattach { margin-right: 60px;width:auto;padding:0 10px; }
.contact-us-form div.wpcf7{margin-top:0 !important; }
@media (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper h4{margin-bottom:0;}
    .wpb_row{margin-bottom:0;}
}


/*====================== LineUP =========================*/
#ajax-content-wrap .main-content{padding-bottom:1px;}
.lineup-row0{ padding-top: 115px !important;}
.lineup-image{text-align:center;}
@media(min-width:1001px){
    .container-wrap{background-position:0 25px !important;}
    .page-template-lineup-2016 .lineup-row{padding-bottom: 1px !important;}
    .lineup-image img{width:100%;}
}
@media screen and (max-width: 1000px){
    .lineup-row .aloompa-lineup{margin-bottom:0;}
}



/*====================== Salient =========================*/
#header-outer.small-nav .sf-menu .sub-menu{top: 36px !important;}
/*section header font color*/
.xui_header_section .wpb_wrapper strong, 
.xui_header_section2 .wpb_text_column strong{color: #fff;}

.single-post .col h2{font-size: 18px;line-height: 20px;}
#ajax-content-wrap .accent-color-bg a{color:#fff;}

/*mobile ui adjust*/
@media(max-width:1000px){
    .wpb_row.parallax_section{display:block;}
    .wpb_row:not(.parallax_section) .divider-wrap{display:none!important;}
    .wpb_text_column > .wpb_wrapper img{ width:100%; }
    .text-center ul{margin-left: 15px;}
    .text-center > .wpb_wrapper > h4{ margin-top:0 !important;}
}

.mobile-insomniac-logo{z-index:2;}
@media screen and (max-width: 1000px){
    .mobile-insomniac-logo{ padding-right: 28px; }
}



/*====================== Footer Widget =========================*/
/*sponsors*/
.footer-content .brand-sponsor .carousel-wrap { padding: 35px 0; }
.footer-content .brand-sponsor .clients > div { background: #252525; }
.carousel-outer { margin-bottom: 0 !important; }

/*sponsors*/
#sponsors-row .sponsors-column .wpb_wrapper {padding: 0;}
#sponsors-row .sponsors-column .clients{text-align:center;}
#sponsors-row .sponsors-column .clients > div{margin-bottom: 0;}
@media (min-width: 1001px){
    #sponsors-row .sponsors-column .clients{ width:100%!important;text-align: center !important; }
    #sponsors-row .sponsors-column .clients > div{width:22% !important;display: inline-block;float: none;}
}
@media (max-width: 1000px){
    #sponsors-row .sponsors-column .clients > div{margin-top: 5%;}
    #sponsors-row .sponsors-column .clients > div:last-of-type{margin-bottom: 5%;}
    #sponsors-row .sponsors-column .clients > div{margin-left: 37%;}
    .container.footer-content{z-index:99!important;}
}
@media (max-width: 690px){
    #sponsors-row .sponsors-column .clients > div {margin-left: 25%;}
}

/*social channel*/
#social_channel .channels a i{color: #6d00b2 !important;}
#social_channel .channels a i:hover{ color: #fff !important;}
.pricing-table.channels .pricing-column>h3, .pricing-table.channels .pricing-column>div{background: #252525 !important;}
@media(max-width: 1000px) and (min-width: 690px){
	.pricing-table > div {width:100%!important;}
}
