


.channels a i { color: #f8d887 !important; }
.social.channels .wpb_column .wpb_wrapper p > a{ margin-right:10px; }

/*UK,ESCAPE,COUNTDOWN*/
/**
* Socail Channels Six Columns #252525
*/
@media (min-width: 1000px){
    .channels-six-column > .col{ width:100%;text-align:center; }
    .channels-six-column > .col > .wpb_column{ display:inline-block;margin: 0 !important;padding:0;}
    .channels-six-column > .col > .wpb_column:before{ display:none; }
    .channels-six-column > .col > .wpb_column > .wpb_wrapper{ background:#252525; }
    .channels-six-column > .col > .wpb_column p > strong{ white-space: nowrap; }
}
@media (min-width: 1251px){
    .channels-six-column > .col > .wpb_column{
        width: 16.666% !important; padding:0 8px;
    }
}
@media (min-width: 1001px) and (max-width: 1250px){
    .channels-six-column > .col > .wpb_column{
        width: 33.333% !important; padding: 10px 4%;
    }
}


/* channels channels-seven-column */
/**
* Socail Channels PricingTable Way #252525 
*/
.pricing-table.channels{text-align:center;margin-top: 6px;}
.pricing-table.channels .pricing-column{background:transparent !important;display: inline-block;float: none;}
.pricing-table.channels .pricing-column > h3,
.pricing-table.channels .pricing-column > div{border:none !important;background:#252525;}
.pricing-table.channels .pricing-column h3{color: #fff!important; font-size: 14px; font-weight: bold;white-space: nowrap;margin-bottom:-1px!important;padding: 15px 0 8px;}
.pricing-table.channels .pricing-column-content{ padding: 10px 0 15px;min-height: initial; }
.pricing-table.channels .pricing-column-content > h4,
.pricing-table.channels .pricing-column-content > span{ display:none; }
.pricing-table.channels .pricing-column-content > a{ margin:0 5px; cursor: pointer; }
.pricing-table.channels .pricing-column-content > a i{ background: transparent !important; }
.pricing-table.channels .pricing-column-content > a .popover{ display:none !important; }
@media (min-width: 1251px){
    .pricing-table.channels-seven-column .pricing-column{width:14.28%;padding:0 5px;}
    .pricing-table.channels-six-column .pricing-column{width:16.666%;padding:0 5px;}
}
@media (min-width: 690px) and (max-width: 1000px){
    .pricing-table.channels .pricing-column{padding:0 5px;}
}
@media (min-width: 1001px) and (max-width: 1250px){
    .pricing-table.channels .pricing-column{width:25%;padding:5px 5px;}
    .pricing-table.channels-seven-column .pricing-column{width:25%;padding:5px 5px;}
}














/**
* Socail Channels PricingTable Way On Multisite #251b24
*/
.social-channels .pricing-table{text-align:center;margin-top: 6px;}
.social-channels .pricing-table .pricing-column{background:transparent !important;display: inline-block;float: none;}
.social-channels .pricing-table .pricing-column > h3,
.social-channels .pricing-table .pricing-column > div{border:none !important;background:#251b24;}
.social-channels .pricing-table .pricing-column h3{color: #fff!important; font-size: 14px; font-weight: bold;margin-bottom:-1px!important;padding: 15px 0 8px;}
.social-channels .pricing-table .pricing-column-content{ padding: 10px 0 15px;min-height: initial; }
.social-channels .pricing-table .pricing-column-content > h4,
.social-channels .pricing-table .pricing-column-content > span{ display:none; }
.social-channels .pricing-table .pricing-column-content > a{ margin:0 5px; cursor: pointer; }
.social-channels .pricing-table .pricing-column-content > a i{ background: transparent !important; }
.social-channels .pricing-table .pricing-column-content > a .popover{ display:none !important; }
@media (min-width: 1251px){
    .social-channels .pricing-table .pricing-column{width:16.666%;padding:0 5px;}
    .social-channels .pricing-table .pricing-column:first-child > h3{line-height: 1em !important;}
}
@media (min-width: 690px) and (max-width: 1000px){
    .social-channels .pricing-table .pricing-column{padding:0 5px;}
}
@media (min-width: 1001px) and (max-width: 1250px){
    .social-channels .pricing-table .pricing-column{width:25%;padding:5px 5px;}
}






