/**===================================================================================================
HomePage 
=====================================================================================================*/
/**===================================================================================================
HomePage 
=====================================================================================================*/
.owl-carousel .owl-controls{ margin: 0 !important; }
.owl-carousel .owl-stage{padding:0!important;}  
.sliderBlog .wpb_wrapper > .row{ margin-bottom:0; padding-bottom:0 }
@media(max-width:1000px){
    .slider-post-container article{ margin-bottom: 0 !important; margin-top:0 !important; }
    .essentials-content .portfolio-items > .col{ margin:0 !important; }
}

/*social icons*/
.social-icons-middle a:not(.btn-newsletter-signup){ vertical-align: -2px; }
.social-icons-middle a{ padding: 3% 10px 0 10px !important; }
.insomniac-socail-bar a.btn-newsletter-signup{
    vertical-align: 4px;
}
#firstRow{z-index:99;}
.addeventatc .copyx{display:none!important;}
@media(max-width:1000px){
    /*hide slider content on mobile*/
    .parallax_slider_outer.first-section .swiper-slide .content{ display:none;}
    #firstRow .insomniac-socail-bar P > strong{top: 3px;position: relative;}
    .watch-trailer .nectar-button{border: none;font-weight: bold;margin-bottom: 0;width: 100%;
        background-color: transparent !important;border-color: transparent !important;}
    .wpb_column.add-calendar-column:hover:before{background-color: #001b5a !important;}
    .wpb_column.watch-trailer:hover:before{background-color: #73e1f2 !important;}
    #firstRow .watch-trailer{padding: 0 !important;padding-top: 5px !important; width: 100%;}
    /*remove the extra space*/
    body #portfolio{ margin:0 !important; } 
    .insomniac-socail-bar{
        padding-top: 0 !important;
        padding-bottom: 0;
    }
}


/*watch trailer*/
@media only screen and (max-width: 690px){
    .pp_content .pp_inline iframe{height: 180px!important;}
}

/*essentials */
.portfolio-items .col .work-item.style-3 .work-info-bg{display:none;}
.portfolio-items .col .work-item.style-3 .vert-center h3{font-size: 24px; font-weight: bold; }

.addthisevent-drop{display:none !important;}

/** Home slider show black screen before video start to play --tengfei*/
@media (min-width: 1000px){
    #ajax-content-wrap .nectar-slider-loading{display:none !important;}
    #ajax-content-wrap .swiper-slide{background-color: #000 !important;}
    #ajax-content-wrap  .container-wrap{background: #000 !important;}
    #ajax-content-wrap #nectar-slider + .container-wrap{background: #f6f6f6 !important;}
    .home_slider .container .content > * { opacity:1 !important;padding-top: 0 !important; }
    .nectar-slider-wrap{display:block;}
    .main-content .row #nectar-slider{ visibility: visible; }
}
@media (max-width:1000px){
    body.ascend{background-color:#f6f6f6;}
    .youtube-video .hide_, .youtube-video .hide_ .iframe-embed { margin-bottom: 0 !important; }
}

#l-m a:hover { background-color: transparent !important; }
.lineup-btn-mobile a {
    border: none !important;
    width: 100%;
    font-size: 100% !important;
    margin-top: 5px;
    font-size: 15px !important;
    font-weight: bold;
}

/* news and announcements */
#ajax-content-wrap .slider-post-container .excerpt{display:none;}
@media(max-width:1000px){
    #ajax-content-wrap .slider-post-container article .post-content{min-height: 0 !important;}
    #ajax-content-wrap .slider-post-container .post-content .article-content{padding-bottom: 30px;}

    body .portfolio-items .col{ margin-bottom:0 !important; }
}

.wpb_raw_html.insomniac-socail-bar a i {
    background-color: transparent !important;
    font-size: 22px;
}

.watch-trailer-button .nectar-button {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    font-size: 13px !important;
    padding: 8px 22px !important;
    top: 0;
}
.big-font {
    font-size: 16px !important;
}
.iframe-embed, #video-emb .wpb_raw_html { margin-bottom: 0 !important; }

/*update the section header link color*/
.xui_header_section .wpb_text_column a{color: #fff !important;}


@media screen and (max-width: 1000px){
  .wpb_raw_html.insomniac-socail-bar {
    padding: 0 !important;
  }
  .wpb_raw_html.insomniac-socail-bar a.btn-newsletter-signup{
    vertical-align: 3px;
  }
}

.wpb_raw_html.insomniac-socail-bar a i:hover { color: #ffa700 !important; }
.swiper-slide .solid_color_2 a.instance-0:before,.swiper-slide .solid_color_2 a.external_link:before{ background:#d98e00 !important; }
.slider-post-container .post-content .article-content .title:hover{ color:#ffd800 !important; }




/**===================================================================================================
Info
=====================================================================================================*/
.contact-us-form{ padding-bottom:50px; }
.contact-us-form .button-group button.addattach { margin-right: 60px; }

@media(min-width:1000px){
    .location .vc_col-sm-4 { min-height: 380px; }
}
@media(max-width:1000px){
    .row .col .wpb_text_column img{ width:100%; }
    .divider-wrap{ display:none; }

    .reduce-top .text-center { margin-top: -8px !important; }
    #faq .text-center.faq-intro { margin-bottom: -25px !important; }
}
@media(max-width:330px){
    .contact-us-form .wpcf7-recaptcha iframe{
        -moz-transform:scale(0.89);
        -webkit-transform:scale(0.89);
        -o-transform:scale(0.89); 
        transform: scale(0.89);
        transform-origin: left;
    }
}



/**===================================================================================================
Salient
=====================================================================================================*/
/*fix sponsor issue,yaxig*/
.sponsors_orlando .clients.six-cols.no-carousel > div{
    width: 12%;margin-bottom: 0;
}
@media (min-width: 1000px){
    .sponsors_orlando .clients.six-cols > div:nth-child(6n+6) {
        margin-right: 2%;
    }
    .sponsors_orlando .clients.six-cols > div:first-child {
        margin-left: 2%;
    }
}

/*nav*/
.icon-angle-down:before{content:"\f0da";}
body #mobile-menu li.open > a .icon-angle-down:before{ content:"\f0d7"!important; }
#mobile-menu li.menu-item .sf-sub-indicator > i{font-size: 20px;}
#header-outer.transparent header#top nav ul.sf-menu>li>a{
    color: #FFF;opacity: 1 !important; transition: none !important;
}
#header-outer{border: none!important;}
html body #header-outer[data-transparent-header="true"].transparent{ border-bottom: none!important; }

/*Slider*/
@media (min-width: 1000px){
    #ajax-content-wrap .swiper-slide .content h2{font-size: 60px;font-weight: normal;margin-bottom:20px; letter-spacing: 0px;}
    #ajax-content-wrap .swiper-slide .content p{ line-height:50px; }
}

/*section header*/
.xui_header_section h2 > strong, .parallax_header_section h2 > strong{ text-transform: uppercase; }
.full-width-section.parallax_section .row-bg-wrap,
.full-width-content.parallax_section .row-bg-wrap{filter:brightness(80%);-webkit-filter:brightness(80%);}
@media(max-width: 1000px){
    .wpb_row.parallax_section{display:none;}
}

/*sponsor*//*social-channels*/
.container.footer-content .carousel.clients > div :hover{opacity: 0.7 !important;}
.footer-content .clients.five-cols > div.no-link{display:none;}
#social_channel a i:hover{color: #fff !important;}
#social_channel a i{color: #95f1ec !important;}
.pricing-table.channels .pricing-column>h3, .pricing-table.channels .pricing-column>div {background:#252525 !important;}
@media (max-width: 1000px){
    .pricing-table.channels .pricing-column:last-child{margin-bottom:0 !important;}
    #ajax-content-wrap .footer-content .wpb_row.socail_channels{max-width:100% !important;}
    #ajax-content-wrap .footer-content .wpb_row.socail_channels > .col{max-width: 300px;margin: 0 auto !important;}
}
@media (min-width: 690px) and (max-width: 1000px){
    .pricing-table.channels .pricing-column{margin-bottom: 0px!important;padding-bottom: 15px !important; }
    #ajax-content-wrap .footer-content .wpb_row.socail_channels > .col{max-width: 500px;margin: 0 auto !important;}
}
@media (min-width:690px){
    .footer-content .clients.five-cols{text-align: center;}
    .footer-content .clients.five-cols > div:not(.no-link){display: inline-block !important;float: none;margin-bottom: 0;}
}

/*footer stles*/
#footer-outer #footer-widgets .col ul li a{display:inline-block;}
#footer-outer .widget_nav_menu h4 {font-weight: bold !important;color: #fff !important;}
#footer-outer .recent_posts_extra_widget h4{ color: #fff !important; }
#footer-outer .widget{min-height: 300px;}
#footer-outer #copyright p{color: #ccc;}

/*insomniac-socail-bar*/
#socail-bar-row{z-index:20;}
.insomniac-socail-bar{padding-top: 10px; padding-bottom:10px; }
.insomniac-socail-bar a{ padding: 8px 10px 0 10px !important; }
.insomniac-socail-bar a.btn-newsletter-signup{
    color: #fff;border: 2px solid rgba(255,255,255,0.75);
    height: 31px;line-height: 27px;padding: 0px 10px !important;display: inline-block !important;
    margin-left: 8px;cursor: pointer;}
.insomniac-socail-bar a i:hover{color:#0c3085;}
.insomniac-socail-bar a.btn-newsletter-signup:hover{background-color:#95f1ec; border-color:#95f1ec;}
@media (max-width:1000px){
    .insomniac-socail-bar{text-align: center;margin-bottom: 0 !important;padding: 11px 5px 8px;}
}
@media (max-width:350px){
    .insomniac-socail-bar .addthisevent_dropdown{left: -90px !important;}
}

/*remove margin bottom from copyright text*/
@media screen and (max-width: 1000px){
  .footer-sticky-nav+#footer-outer {
    margin-bottom: 0;
  }
  .sponsors_orlando .clients.six-cols.no-carousel > div img{
    margin-bottom: -38px !important;
    display: block;
  }
}

@media(min-width:1001px){
   #header-outer .header-logos { top: 10px; }
   #header-outer.small-nav .header-logos { top: 0; }
}
@media (max-width: 768px){
	#header-outer .header-logos{width: auto;display: inline-block;}
}
