


/**===================================================================================================
News
=====================================================================================================*/
.post-content .post-meta .date{ color:#676767; }
.post-content .post-meta .date:hover{ color:#c6273d; }



/**===================================================================================================
HomePage 
=====================================================================================================*/
/*remove spaces*/
.owl-carousel{ margin-bottom: 13px!important; }
.owl-carousel .owl-controls{ margin: 0 !important; }    
.sliderBlog > .wpb_wrapper > .row{ margin-bottom:0; padding-bottom:0 }
.sliderBlog .view-more{ margin-top:0 !important; }
@media(max-width:1000px){
    .sliderBlog .view-more{ margin-top:10px !important; }
    .slider-post-container article{ margin-bottom: 0 !important; margin-top:0 !important; }
    .essentials-content .portfolio-items > .col{ margin:0 !important; }
}

/*social icons*/
.social-icons-middle a:not(#newsletter-signup){ vertical-align: -2px; }
.social-icons-middle a{ padding: 3% 10px 0 10px !important; }
#firstRow{z-index:99;}
@media(max-width:1000px){
    /*hide slider content on mobile*/
    .parallax_slider_outer.first-section .swiper-slide .content{ display:none;}
}

/*watch trailer*/
@media only screen and (max-width: 690px){
    .pp_content .pp_inline iframe{height: 180px!important;}
}

/*essentials */
.portfolio-items .col .work-item.style-3 .work-info-bg{
    display:none;
}



/**===================================================================================================
Tickets Page  prallax
=====================================================================================================*/


/*Info Page*/
@media only screen and (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
}











/**===================================================================================================
Salient
=====================================================================================================*/
/**
* Socail Channels PricingTable Way #252525 
*/
.pricing-table.channels{text-align:center;margin-top: 6px;}
.pricing-table.channels .pricing-column{background:transparent !important;display: inline-block;float: none;}
.pricing-table.channels .pricing-column > h3,
.pricing-table.channels .pricing-column > div{border:none !important;background:#252525;}
.pricing-table.channels .pricing-column h3{color: #fff!important; font-size: 14px; font-weight: bold;white-space: nowrap;margin-bottom:-1px!important;padding: 15px 0 8px;}
.pricing-table.channels .pricing-column-content{ padding: 10px 0 15px;min-height: initial; }
.pricing-table.channels .pricing-column-content > h4,
.pricing-table.channels .pricing-column-content > span{ display:none; }
.pricing-table.channels .pricing-column-content > a{ margin:0 5px; cursor: pointer; }
.pricing-table.channels .pricing-column-content > a i{ background: transparent !important; }
.pricing-table.channels .pricing-column-content > a .popover{ display:none !important; }
@media (min-width: 1251px){
    .pricing-table.channels-seven-column .pricing-column{width:14.28%;padding:0 5px;}
    .pricing-table.channels-six-column .pricing-column{width:16.666%;padding:0 5px;}
}
@media (min-width: 690px) and (max-width: 1000px){
    .pricing-table.channels .pricing-column{padding:0 5px;}
}
@media (min-width: 1001px) and (max-width: 1250px){
    .pricing-table.channels .pricing-column{width:25%;padding:5px 5px;}
    .pricing-table.channels-seven-column .pricing-column{width:25%;padding:5px 5px;}
}

/*footer stles*/
#footer-outer .widget_nav_menu h4 {font-weight: bold !important;color: #fff !important;}
#footer-outer .recent_posts_extra_widget h4{ color: #fff !important; }
#footer-outer .widget{min-height: 300px;}
#footer-outer #copyright p{color: #ccc;}
/*nav*/
.icon-angle-down:before{ content: "\f0da"; }
body #mobile-menu li.open > a .icon-angle-down:before{ content:"\f0d7" !important; }
#mobile-menu li.menu-item .sf-sub-indicator > i{ font-size: 20px; }
#header-outer.transparent header#top nav ul.sf-menu>li>a {
    color: #FFF;opacity: 1 !important; transition: none !important;
}
/*section header*/
.xui_header_section h2 > strong, .parallax_header_section h2 > strong{ text-transform: uppercase; }
@media (min-width: 1001px){
    .header-section-bg-color h2 > strong, .parallax_header_section h2 > strong,
    .xui_header_section h2 > strong{ letter-spacing: 5px;}
}


/* New Styles */

.full-width-section.parallax_section .row-bg-wrap,
.full-width-content.parallax_section .row-bg-wrap{filter:brightness(80%);-webkit-filter:brightness(80%);}




