

/*update color code*/
.wpb_raw_html.insomniac-socail-bar a i:hover{ color:#000!important;}




/*
Info Page
*/
.contact-us-form form{ margin-bottom:50px;margin-top:0 !important; }
.contact-us-form .button-group button.addattach { margin-right: 60px;width:auto;padding:0 10px; }
.contact-us-form div.wpcf7{margin-top:0 !important; }
@media (max-width: 1000px){
    .wpb_text_column > .wpb_wrapper > p > img{ width:100%; }
    .wpb_row{margin-bottom:0;}
    .text-center > .wpb_wrapper > h4{ margin-top:0 !important;}
    .vc_col-sm-2.age-id{width:100% !important;}
}
#contact-image { z-index: -1; }



.channels a i{ font-size: 18px; }
@media(max-width:1000px){
    .channels a i{ font-size: 20px;margin:0 5px; }
}


